body {
    background-color: #021526;
}
.content {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: white;
    text-indent: 46px;
    margin-top: 23px;
    margin-bottom: 46px;
    margin-right: 96px;
    margin-left: 96px;
    text-align: justify;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Black color with 20% opacity */
    border-radius: 20px; /* Rounded corners */
    padding: 15px; /* Space between the text and the border */
    background-color: rgba(69, 67, 91, 0.279); /* Red color with 10% opacity */
}
.content sup {
    font-weight: bold;
    font-style: italic;
}

.section {
    text-indent: 96px;
    margin-top: 23px;
    color: #c2d6f6;
}

.head {
    background-color: #021526;
}